*.swp
*.aux
*.log
*.toc
TAGS
publish/epub/
publish/mobi/
manuscript/tex/auto/
build/epub/
build/mobi/
build/latex/auto/
build/latex/book_large_main.pdf
build/latex/book_small_main.pdf
build/latex/cover_main.pdf
build/latex/cover_front.pdf
build/latex/cover_back.pdf
build/latex/cover_spine.pdf
build/latex/cover_spine_east.pdf
.DS_Store
