
<h1>
  A<br/>
  Dhammapada<br/>
  for<br/>
  Contemplation
</h1>

<h3>
  A rendering by<br/>
  Ajahn Munindo
</h3>

<% unless book.publisher_logo.nil? %>
  <p><img src="../Images/<%= book.publisher_logo %>" alt="logo"/></p>
<% end %>

<p class="footnotesize" style="font-style: italic;">
<% unless book.publisher.nil? %>
  <%= book.publisher %><br/>
  <%= book.publisher_atag %><br/>
  <%= book.book_atag %>
<% end %>
</p>

