
<h1>
  Dhammapada<br/>
  pentru<br/>
  Contemplație
</h1>

<h3>
  Interpretare de<br/>
  Ajahn Munindo
</h3>

<p class="footnotesize" style="font-style: italic;">
  Traducere de Comunitatea Dhammadha.ro
</p>
